alembic
blinker
click
Flask
Flask-Migrate
Flask-SQLAlchemy
graphql-core
gunicorn
itsdangerous
Jinja2
lia-web
Mako
MarkupSafe
packaging
psycopg2-binary
python-dateutil
python-dotenv
six
SQLAlchemy
strawberry-graphql
typing_extensions
Werkzeug
